*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
body {
  
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
                      url('/static/images/BG.png');
    background-size:cover;
    background-position: center;  
}

.banner{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    background-size:cover;
    background-position: center;  
}
.navbar{
    width:85%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration:none;
    color: #fff;
    text-transform :uppercase;
}
.navbar ul li ::after{
    content:'';
    height: 3px;
    width: 0;
    background:#FFB6C1;
    position:absolute;
    left:0;
    bottom:-5px;
    transition: 0.5s
}
.navbar ul li :hover::after{
   width:100%;

}
.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;

}
.content h1{
    font-size: 70px;
    margin-top: 80px;

}
.content p{
    margin: 20px auto;
    font-size: 20px;
    font-weight:100;
    line-height: 25px;
}
.button{
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 14px;
    font-size: 18px;
}
.heading {
      text-align: center;
      padding: 20px;
      background-color: #333;
      color: #fff;
    }

    .heading h1 {
      margin: 0;
      font-size: 2em;
    }

    .heading p {
      margin: 10px 0 0;
      font-size: 1.2em;
      color: #ccc;
    }
